__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log

venv/
env/
.venv/
.env/

.env
*.env

.vscode/
.idea/

*.egg-info/
dist/
build/

*.log
*.sqlite3
.cache/
*.coverage
.coverage.*

.tox/
.nox/
tests/__pycache__/
test-results/

.pytest_cache/

.ipynb_checkpoints

*.bak
*.swp
*~
.DS_Store